# OSX nonsense
.DS_Store

# Xilinx stuff
.Xil

# Generated Project
KMSAT/
Resource_Estimation/

# Generated Block Designs
rtl/bd/*/*
!rtl/bd/*/hdl

# IP repo
ip_repo/*
!ip_repo/Module_Validation_Platform_1_0

# Vivado logs
*.jou
*.log
vivado_*.*

# Generated reports
NA

# ModelSim Files
rtl/src/src/
rtl/src/work/
rtl/tb/src/
rtl/tb/work/
rtl/work
*.qdb
*.qpg
*.qtl
*.mti
*.mpf
*.wlf
*.do
*.vstf
_info
_vmake
transcript