# OSX nonsense
.DS_Store

# Xilinx stuff
.Xil

# Generated Project
KMSAT/

# Generated Block Designs
rtl/bd/*/*
!rtl/bd/*/hdl

# IP repo
ip_repo/*
!ip_repo/Module_Validation_Platform_1_0
!ip_repo/Clause_Buffer_1_0

# Vivado logs
*.jou
*.log
vivado_*.str

# Generated reports
NA